<h1>Sign Up to Start Tracking Observations</h1> 

<%="Must Include email and password" if @user && @user.errors.any? %> 

<form action="/users" method="POST"> 
    <label for="name">Name</label> 
    <input type="text" id="name" name="name"/> 
    <br><br>
    <label for="username">Create Username</label>
    <input type="text" id="username" name="username"/> 
    <br><br> 
    <label for="username">Create Password</label>
    <input type="password" id="password" name="password"/> 
    <br><br>
    <input type="submit" value="Sign Up"> 
</form>
