<h1>Posts</h1> 
<br> 
<br> 
<% @posts.each do |detail| %> 
    <h2><a href ="/posts/<%=detail.id%>"><%= detail.title %></a></h2>
    <% @user = User.find_by(:id => detail.user_id) %>
    <h4> Written By "<%= @user.name %>" <h4> 
    
<% end %> 

