<h1> New Observation </h1> 

<form action="/posts" method="POST"> 
    <h3><label>Title </label></h3>
    <input type="text" name="title"/> 
    <br>
    <h4><label>Date Seen</label></h4>
    <input type="date" name="date"/> 
    <br> 
    <h4><label>Description</label></h4>
    <textarea name="description"></textarea>
    <br>  
    <h4><label>Latitude</label><h4>
    <input type="number" name="latitude" min="-90" max="90"/> 
    <br> 
    <h4><label>Longitude</label><h4>
    <input type="number" name="longitude" min="-180" max="180"/> 
    <br> 
    <h4><label>Link to Picture </label></h4> 
    <input type="url" name="link"/> 
    <br> 
    <input type="submit" value="Update"/> 
</form> 