<h1> New Observation </h1> 

<form action="/posts" method="POST"> 
    <h3><label for="title"> Title </label></h3>
    <input type="text" name="title"/> 
    <br>
    <h4><label for="date">Date Seen</label></h4>
    <input type="date" name="date"/> 
    <br> 
    <h4><label for="description">Description</label></h4>
    <textarea name="description"></textarea>
    <br>  
    <h4><label for="latitude">Latitude</label><h4>
    <input type="number" name="latitude" min="-90" max="90" step="any"/> 
    <br> 
    <h4><label for="longitude">Longitude</label><h4>
    <input type="number" name="longitude" min="-180" max="180" step="any"/> 
    <br> 
    <h4><label for="link"> Link to Picture </label></h4> 
    <input type="text" name="link"/> 
    <br> 
    <input type="submit" value="Submit Post"/> 
</form> 